* {
  box-sizing: border-box;
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  background-color: #f3f3f4;
}

.topHeader {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 60px;
  align-items: center;
  background-color: #f3f3f4;
  color: #676a6c;
  padding: 10px 30px;
}

.secondHeader {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  color: #676a6c;
  font-size: 24px;
  font-weight: 600;
  padding: 10px 30px;
}

.fabar {
  text-decoration: none;
  color: #fff;
  padding: 7px 8px;
  border: 1px solid #1ab394;
  background-color: #1ab394;
  border-radius: 6px;
}

.fabar:hover {
  background-color: #18a689;
  color: #fff;
  border-color: #18a689;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
  background-color: #2F4050;
  color: #a7b1c2;
  transition: width 0.4s;
}

.siderHeader {
  text-decoration: none;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  padding: 19px 0px;
  margin: 0;
  width: 220px;
  height: 60px;
  background-color: #1ab394;
  color: #fff;
  transition: width 0.4s;
}

.siderItem {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  width: 220px;
  border: 0;
  background-color: #2F4050;
  color: #a7b1c2;
  padding-top: 14px;
  padding-right: 20px;
  padding-bottom: 14px;
  padding-left: 25px;
  transition: width 0.4s;
  font-size: 14px;
  font-weight: 600;
}

.siderItem:hover {
  background-color: #293846;
  color: #fff;
  border-left: 4px solid #1ab394;
}

main {
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-top: 1px solid #e7eaec;
  border-bottom: 1px solid #e7eaec;
  color: #676a6c;
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 55px;
  font-size: 14px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  padding: 7px;
}

.column.wide {
  width: 100%
}

.column.half {
  width: 50%;
}

.boxHeader {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  border-bottom: 1px solid #e7eaec;
  width: 100%;
  padding: 15px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  background-color: #fff;
  border: 1px solid #e7eaec;
}

.boxContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 20px 20px 20px;
  width: 100%;
}

ol {
  list-style-type: none;
  counter-reset: num;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 14px;
}

ol li {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #e7eaec;
}

ol li::before {
  content: counter(num);
  counter-increment: num;
  border: 0;
  border-radius: 5px;
  background-color: #1ab394;
  color: #fff;
  padding: 5px 10px;
  margin-right: 10px;
  font-size: 16px;
  font-weight: 1000;
}

ol li:last-of-type {
  border-bottom: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
}

footer {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  background-color: #ffffff;
  border-top: 1px solid #e7eaec;
  color: #676a6c;
  font-size: 14px;
}

table {
  width: 100%;
  font-size: 13px;
  border-collapse: collapse;
}

th,
td {
  text-align: center;
  padding: 8px;
}

a {
  text-decoration: none;
  color: #676a6c;
}

a:hover {
  color: #1ab394;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr {
  border-bottom: 1px solid #e7eaec;
}

.buttonGroup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.like {
  text-decoration: none;
  border: 0;
  border-radius: 4px;
  padding: 10px 12px;
  color: #fff;
  background-color: #1ab394;
}

.like:hover {
  background-color: #18a689;
}

.dislike {
  text-decoration: none;
  border: 0;
  border-radius: 4px;
  padding: 10px 12px;
  color: #fff;
  background-color: #ED5565;
}

.dislike:hover {
  background-color: #ec4758;
}

.buttonGroup>button:first-of-type {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.buttonGroup>button:last-of-type {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

@media (max-width: 768px) {
  .narrow {
    width: 70px;
  }

  .siderHeader {
    width: 70px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .column.half {
    width: 100%;
  }

  .siderItem {
    width: 70px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}